<h1><%= @schedule['title'] %></h1>
<h3><%= @schedule['synopsis'] %></h3>
<p>
	<a class="no-line" href="/details/<%= @schedule['id'] %>/edit">Edit Title / Synopsis</a>
</p>
<hr>
<div class="table-show">
	<table>
	<tr>
		<th>Event ID</th>
		<td><%= @schedule['event_id'] %></td>
	</tr>
	<tr>
		<th>Event Date</th>
		<td><%= @schedule['event_date'] %></td>
	</tr>
	<tr>
		<th>UTC Event Date</th>
		<td><%= @schedule['utc_event_date'] %></td>
	</tr>
	<tr>
		<th>Duration</th>
		<td><%= @schedule['duration'] %></td>
	</tr>
	<tr>
		<th>Program ID</th>
		<td><%= @schedule['program_id'] %></td>
	</tr>
	<tr>
		<th>Title</th>
		<td><%= @schedule['title'] %></td>
	</tr>
	<tr>
		<th>Movie</th>
		<td><%= @schedule['movie'] %></td>
	</tr>
	<tr>
		<th>Series</th>
		<td><%= @schedule['series'] %></td>
	</tr>
	<tr>
		<th>Classification</th>
		<td><%= @schedule['classification'] %></td>
	</tr>
	<tr>
		<th>Year of Production</th>
		<td><%= @schedule['year_production'] %></td>
	</tr>
	<tr>
		<th>Country</th>
		<td><%= @schedule['country'] %></td>
	</tr>
	<tr>
		<th>Language</th>
		<td><%= @schedule['language'] %></td>
	</tr>
	<tr>
		<th>Genre</th>
		<td><%= @schedule['genre'] %></td>
	</tr>
	<tr>
		<th>Sub Genre</th>
		<td><%= @schedule['sub_genre'] %></td>
	</tr>
	<tr>
		<th>Episode ID</th>
		<td><%= @schedule['episode_id'] %></td>
	</tr>
	<tr>
		<th>Series Number</th>
		<td><%= @schedule['series_number'] %></td>
	</tr>
	<tr>
		<th>Episode Number</th>
		<td><%= @schedule['episode_number'] %></td>
	</tr>
	<tr>
		<th>Episode Title</th>
		<td><%= @schedule['episode_title'] %></td>
	</tr>
	<tr>
		<th>Director</th>
		<td><%= @schedule['director'] %></td>
	</tr>
	<tr>
		<th>Main Cast</th>
		<td><%= @schedule['main_cast'] %></td>
	</tr>
	<tr>
		<th>Synopsis</th>
		<td><%= @schedule['synopsis'] %></td>
	</tr>
</table>
</div>
